token= MTM0MDAxMjQ3MzI4OTI4MTYyNg.GXVtCY._v_K6LdKFwftnv57CAZa1SGCo45ngW2fpH9mbM

memer_api=

clientSecret= ieBdSfp-nKF4WaN03QdeISrJ_aZR7xNO
clientID= 1340012473289281626

consumer_key=
consumer_secret=
access_token=
access_token_secret=

fnbr=
fortnitetracker=

twitch_clientID=
twitch_secret=
